@media screen and (min-width: 600px){

      header .header img {
            width: 150px;
            display: flex;
      }

      nav span i{
            color: white;
      }

      /* body news style  */
      .body-ads img{
            margin-top: 5px;
      }
      .features {
            margin-top: 5px;
            overflow: hidden;
      }
      .features .col-md-4{
            /* padding: 0; */
            overflow: hidden;
      }
      

      .features .col-md-4 img{
            transition: all .4s ease;
            width: 100%;
            height: 100%;
            object-fit: cover;
      }
      .features .row .col-md-4 .description p{
            padding: 3px;
            font-size: 14px;
            font-weight: 400;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
                        line-clamp: 2;
            -webkit-box-orient: vertical;
      }

      .sub-features-news {
            margin-top: 5px;
      }

      .sub-features-news .card-body {
            padding: 8px;
      }

      .sub-features-news .card-title {
            font-size: 15px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
      }

      .sub-features-news img {
            height: 100px;
            object-fit: cover;
      }

      
      .new-feed {
            padding: 0 12px;
      }

      .new-feed .header-options {
            margin-bottom: -20px;
      }

      .new-feed .horizantal-card {
            height: 70px;
            overflow: hidden;
      }

      .new-feed .horizantal-card img {
            width: 100%;
            height: 70px;
            object-fit: cover;
      }

      .new-feed .horizantal-card .card-body{
            padding: 5px;
      }

      .new-feed .horizantal-card .card-title {
            font-size: 12px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
      }

      .new-feed .horizantal-card .card-text {
            font-size: 12px;
      }

      .new-feed .card:hover {
            overflow: hidden;
            transform: scale(97%, 97%);
      }

      .new-feed .card:hover img {
            overflow: hidden;
            transform: scale(111%, 111%);
      }

      /* category  */
      .category {
            padding: 0;
      }

      .category .row img {
            height: 90px;
            width: 100%;
      }

      /* popular news */
      .news-popular .sub-popular {
            height: 100px;
            overflow: hidden;
      }

      .news-popular .sub-popular img {
            width: 100%;
            height: 100%;
            object-fit: cover;
      }

      .news-popular .sub-popular .card-title {
            font-size: 17px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
      }

      .news-popular .sub-popular {
            height: 80px !important;
            overflow: hidden;
      }

      .news-popular .sub-popular img{
            height: 80px !important;
            overflow: hidden;
      }

      .news-popular .sub-popular .card-body {
            padding: 10px;
      }

      .news-popular .sub-popular img {
            width: 100%;
            height: 100%;
            object-fit: cover;
      }

      .news-popular .sub-popular .card-title {
            font-size: 10px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
      }
      .news-popular .sub-popular .card-text{
            font-size: 10px;
            margin-top: -7px;
      }
      /*  */



}
